@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #2f2f2fff;
    width :100%;
    height: 100%;
}

.block{
    display : flex;
    flex-direction: row;
    width :100%;
    height: 100%;
    margin-top: 52px;
}

.block .leader-board{
    margin-left: 3%;
    margin-top: -5.8%;
    width: 18.6%;
    height: 458.5px;
    border-radius: 30px;
    background-color: #656565;
}

.block .leader-board h4{
    font-size: 39px;
    font-family: 'Arial Rounded MT Bold';
    color: white;
    text-align: center;
}

.arc-en-ciel-haut img {
    width: 36%;
    margin-top: 0.7%;
    margin-right: 32%;
    display: block;
    margin-left: auto;
    position: relative;
    
}

.etoile {
    width : 5%;
    margin-left: 500px;
    margin-top: -160px;
    
}

.etoile img{
    width: 90px;
    position: relative;
    z-index: 6;
}

.q{
    width: 5%;
    margin-left: 522px;
    margin-top: -133px;
}

.q img{
    width: 210px;
    position: relative;
    z-index: 5;
}
.w{
    width: 5%;
    margin-left: 677px;
    margin-top: -177px;
}

.w img{
    width: 135px;
    position: relative;
    z-index: 4;
}
.i{
    width: 5%;
    margin-left: 788px;
    margin-top: -70px;
}
.i img{
    width: 44px;
    position: relative;
    z-index: 3;
}
.x{
    width: 5%;
    margin-left: 53%;
    margin-top: -6.1%;
}
.x img{
    width: 70px;
    position: relative;
    z-index: 2;
}
.xx{
    width: 5%;
    margin-left: 56%;
    margin-top: -2.7%;
}
.xx img{
    width: 60px;
    position: relative;
    z-index: 1;
}

/*Debut carte*/

.block .carte{
    margin-left: 2.2%;
    margin-top: -3.5%;
    /*width: 935px;*/
    width: 52.2%;
    height: 379px;
    border-radius: 30px;
    background-color: #656565;
}

.board {
    position: relative;
    padding: 20px;
    touch-action: manipulation;
}

.color {
    z-index: 1;
    position: relative;
    padding: 8px 4px 8px 8px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.red {
    background: #fd0000ff;
    border-radius: 12px;
    margin: 3%;
}

.red .number, .red .lock {
    /*background: #ffe5e5ff;*/
    background:  #656565;
    color: #fd0000ff;
}

.yellow {
    /*background: #ffc400;*/
    background:#fdfd00ff;
    border-radius: 12px;
    margin: 3%;
}

.yellow .number, .yellow .lock {
    /*background: #ffffe5ff;*/
    background:  #656565;
    color: #fdfd00ff;
}

.green {
    background: #00fd00ff;
    border-radius: 12px;
    margin: 3%;
}

.green .number, .green .lock {
   /* background: #e5ffe5ff;*/
    background:  #656565;
    color: #00fd00ff;
}

.blue {
    background: #00fdfdff;
    border-radius: 12px;
    margin: 3%;
}

.blue .number, .blue .lock {
   /* background: #e5ffffff;*/
   background:  #656565;
    color: #00fdfdff;
    /*text-shadow: 2px 0 #656565, -2px 0 #656565, 2px 0 #656565, -2px 0 #656565, 1px 1px #656565, -1px -1px #656565, 1px -1px #656565, -1px 1px #656565;
    */
}

.number, .lock {
    z-index: 2;
    position: relative;
    height: 2em;
    margin: 3px;
    flex: 1;
    /*font-size: 1.5em;*/
    border-radius: 4px;
    cursor: pointer;
    line-height: 2em;
    text-align: center;
    touch-action: manipulation;
    transition: background 200ms ease;
}

.number i, .lock i {
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translate(50%, -50%);
}

.number i {
    display: none;
    color: #656565;
}

.lock {
    z-index: 1;
    width: 2em;
    margin-left: 10px;
    flex: none;
    border-radius: 50%;
}

.lock [class$="lock"] {
    display: none;
}
/*
.lock::before {
    top: calc(50% - 2px);
    right: 100%;
    position: absolute;
    width: 15px;
    height: 4px;
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.5);
}
*/

.color input[type="checkbox"] {
    display: none;
}

.color input[type="checkbox"]:checked + label, .color input[type="checkbox"]:checked ~ label {
    background: white;
}

.color input[type="checkbox"]:checked + label span {
    display: none;
}

.color input[type="checkbox"]:checked + label i {
    display: block;
}

.color input[type="checkbox"]:checked[id$="-lock"] + label {
    z-index: 3;
}

.color input[type="checkbox"]:checked[id$="-lock"] + label [class*="-unlock"] {
    display: none;
}

.color input[type="checkbox"]:checked[id$="-lock"] + label [class*="-lock"] {
    display: block;
}

/*debut dée*/

.block .dice{   
    margin-left: 2.2%; 
    margin-top: -5.8%;
    width: 18.6%;
    height: 458.5px;
    border-radius: 30px;
    background-color: #656565;
}

.block .dice h4{
    font-size: 39px;
    font-family: 'Arial Rounded MT Bold';
    color: white;
    text-align: center;
}

.dices{
    width: 100%;
}
.d1{
    width: 5%;
    margin-left: 40px;
    margin-top: 38px;
}

.d1 img{
    width: 90px;
}
.d2{
    width: 5%;
    margin-left: 150px;
    margin-top: -95px;
}

.d2 img{
    width: 90px;
}
.d3{
    width: 5%;
    margin-left: 40px;
    margin-top: 10px;
}
.d3 img{
    width: 90px;
}
.d4{
    width: 5%;
    margin-left: 150px;
    margin-top: -95px;
}

.d4 img{
    width: 90px;
}
.d5{
    width: 5%;
    margin-left: 40px;
    margin-top: 10px;
}
.d5 img{
    width: 90px;
}
.d6{
    width: 5%;
    margin-left: 150px;
    margin-top: -95px;
}

.d6 img{
    width: 90px;
}
.dice .container button{
    background:linear-gradient(to right,cyan,#00FF00,#FFFF00,red);
    border: none;
    outline: none;
    color: #ffffff;
    padding: 10px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 25px;
    font-family: 'Arial Rounded MT Bold';
    text-shadow: black 0.1em 0.1em 0.2em
}


.arc-en-ciel-bas img {
    width: 40%;
    margin-top: -8.2%;
    margin-right: 29%;
    display: block;
    margin-left: auto;
    position: relative;
    /*z-index: 1;*/
    
}
